.chartHeader {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
}

.worldBadge {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
    flex-grow: 1
}

.eyeIconButton {
    width: 80%;
    height: 80%;
}